* {
    box-sizing: border-box;
}
body {
    background-color: rgb(240,242,245);
    padding: 20px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif
}

.stories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    /* flex-wrap: nowrap; */
    /* height: 111px; */
    /* margin-left: 5px; */

    position: relative;

    --mainColor: #1876F2;
    --spacingStory: 10px;
    --spacingAvatar: 12px;
    --nextButton: 50px;
    --storyWidth: 111px;
    --storyHeight: 200px;
}
/* .stories:hover {
    opacity: 0.7;
} */
.my-story { 
    /* max-width: 111px; */
    position: relative;
    margin-right: var(--spacingStory);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
}
.my-story:hover {
    /* transform: scale(1.1); */
    /* opacity: 0.7; */
}
.my-story-container:hover > img, i {
    opacity: 0.7;

    transform: scale(110%);
    z-index: -1;
    transition: all 0.3s ease;
}

.my-story-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.story-container {
    width: 111px;
}
.story-container:hover {
    opacity: 0.9;
    background-size: 130%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
/* Hidden item when responsive */
/* .my-story-container > .my-story-item {
    flex-wrap: wrap;
    overflow: hidden;
} */

.my-story-avatar-image {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    height: 150px;
    width: 111px;
}
.my-story-title {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: white;
    height: 50px;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}
.my-create-story {
    left: 0px;
    right: 0px;
}
.my-create-button {
    position: absolute;
    bottom: 30px;
    left: 35px;
    /* right: 0px; */

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--mainColor);
    font-size: 40px;
    width: 40px;
    height: 40px;
    
    background-color: white;
    border-radius: 20px;
    border: 2px white;
}
.my-create-button i {
}
.my-create-button a {
    color: var(--mainColor);
}
.story {
    /* width: 100%; */
    /* height: 111px; */
    position: relative;
    /* width: 111px; */
    background-size: cover;
    background-position: center;
    margin-right: var(--spacingStory);
    text-align: left;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;

}
.story:hover, .story:focus {
    /* opacity: 0.9; */
    /* transform: scale(1.1);
    display: block; */
}

.story-image-container {
    position: relative;
    padding: 12px;
}

.story-image {
    height: 200px;
    width: 111px;
    border-radius: 10px;

    cursor: pointer;
    object-fit: cover;
}

.story-image:hover {
    /* cursor: pointer; */
}

.story-name { 
    position: absolute;
    bottom: 0px;
    padding: 12px;

    color: white;
    font-weight: bold;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.story-avatar-container {
    /* top: 10px; */
    /* left: 10px; */
}
.story-avatar { 
    position: absolute;
    left: var(--spacingAvatar);
    top: var(--spacingAvatar);
    /* padding: 12px; */
    
    width: 40px;
    height: 40px;
    border: 4px solid var(--mainColor);
    border-radius: 50%;

    object-fit: cover;
}
.story-avatar-container {
    width: 111px;
    height: 200px;
}
/* .story-container:hover {
    background-color:#000;
    opacity:0.5;
} */

.next-button {
    width: var(--nextButton);
    height: var(--nextButton);

    display: flex;
    justify-content: center;
    align-items: center;   

    position: absolute;
    /* top: 75px;
    right: 345px; */
    top: calc((100%) - var(--nextButton)/2 - var(--storyHeight)/2);
    right: calc(var(--nextButton)/2 * -1);


    background-color: white;
    color: rgb(96,103,112);
    border: 1px solid rgb(212,214,217);
    border-radius: 50%;

    cursor: pointer;
}
.next-button:hover {
    background-color: #F2F2F2;
}
.next-button i {
    z-index: 10;
}

.stories > .story:last-child.hidden {
    display: none;
}

@media only screen and (max-width: 640px) {
    .stories {
    }
    .stories-name {
        /* text-overflow: hidden; */
    }
    /* .next-button {
        right: 0;

    } */
}